<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div *ngIf = "listaPublicaciones">
  <ion-list *ngFor = "let publicaciones of listaPublicaciones">
    <ion-card>
      <img src="../assets/icon/corg.png" style="align-items: center"/>
      <ion-card-header translucent>
        <ion-card-title class = "titulo">{{publicaciones.titulo}}</ion-card-title>
        <ion-card-subtitle>Fecha de creacion : {{publicaciones.fecha_publicacion}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button [routerLink] = "['/publicacion',publicaciones.id_publicacion]" fill = "clear">Ver más...</ion-button>
    </ion-card>
  </ion-list>
</div>
</ion-content>
