ion-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: auto;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    background-color:#BFEBB1;
    align-items: center;
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
ion-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

img{
    width:25vh;
    height: 25vh;
}


.titulo{
    text-shadow: 1px 1px;
    font-size: 50px;
}