
ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
  }
.foto{
    height: auto;
  width: auto;
  margin: auto;
  display: block;
}
.card{
    height: 100%;
    width: 50%;
    margin: auto;
    display: block;
  }

