
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
         <ion-card class ="card">
          <img class = "foto" src="../assets/icon/user.jpg" style="align-items: center"/>
          <ion-card-content>
            <ion-button fill="clear" expand="full" slot="botton">Usuario</ion-button>
          </ion-card-content>
         </ion-card>
      </ion-col>
      <ion-col>
          <ion-card class = "card">
            <img class = "foto" src="../assets/icon/corg.png" style="align-items: center"/>
            <ion-card-content>
              <ion-button fill="clear"expand="full" slot="botton">Organizacion</ion-button>
            </ion-card-content>

          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
