<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-img class ="foto" src="assets/icon/donacion.png"></ion-img>
<ion-list id="aboutus">
    <ion-item lines="none" id="titulo">
      <ion-label><b>¿Qué es "HelpMe!"?</b> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        HelpMe! es un espacio para brindar ayuda de manera rápida y sencilla a quienes más lo necesitan
      </ion-label>
    </ion-item>
    <ion-item lines = "none" id="titulo">
      <ion-label><b>Nuestra historia</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Surgimos en un momento de gran necesidad como lo fue la pandemia por Covid-19. 
        Pero no planeamos dejar de ayudar
      </ion-label>
    </ion-item>
    <ion-item  lines = "none" id="titulo">
     <ion-label> <b>Nuestra misión</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Queremos que cada organización que necesite de ayuda económica pueda recibirla
        de todos aquellos que están dispuestos a ofrecerla
      </ion-label>
    </ion-item>
</ion-list>
</ion-card>
</ion-content>
