ion-col > div {
   
    padding: 10px;
  }
.foto{
  height: 300px;
  width: auto;
  margin: auto;
  display: block;
}
.card{
    height: 100%;
    width: 50%;
    margin: auto;
    display: block;
  }

.david{
  text-align: end;
}

