
<ion-content>
    <ion-card>
      <ion-item>
        <ion-input>
          <ion-label>Razon Social</ion-label>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input>
          <ion-label>Direccion</ion-label>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input>
          <ion-label>Telefono</ion-label>
        </ion-input>
      </ion-item>
       <ion-item>
        <ion-input>
          <ion-label>CUIL</ion-label>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input>
          <ion-label>Numero de Legajo</ion-label>
        </ion-input>
      </ion-item>
    </ion-card>
</ion-content>
<ion-button expand="full" slot="botton">Registrarse</ion-button>
