.cartafoto{
    height: 50vh;
    width: 100vh;
}
ion-slide {
    width: 50vh;
}

.carta{
    text-align: center;
    background-color: #E2EBD1;
}

ion-col{
    text-align: center;
}
ion-card-title{
    font-size: 300%;
}
ion-card-content{
    font-size: 200%;
}