<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf = "mipublicacion">
    <ion-slides [options] ="slideOpts" >
      <ion-slide>
        <ion-card class = "cartafoto">
          <img class = "foto" src="../assets/icon/corg.png" style="align-items: center"/>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class = "cartafoto">
          <img class = "foto" src="../assets/icon/corg.png" style="align-items: center"/>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class = "cartafoto">
          <img class = "foto" src="../assets/icon/corg.png" style="align-items: center"/>
        </ion-card>
      </ion-slide>
     </ion-slides>
     
    <ion-card class = "carta">
      <ion-card-header>
        <ion-card-title>{{mipublicacion.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{mipublicacion.descripcion}}
        <p color = "red">Monto Acumulado: {{totalMonto}}</p>
      </ion-card-content>
    </ion-card>
    <div style="text-align: center;">
        <ion-button (click)= "abrirModal()" >Donar</ion-button>
    </div>
  </div>
</ion-content>
