<ion-app>
  <ion-tabs >
    <ion-tab-bar slot="top">
      <ion-tab-button tab="lista-publicacion">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Publicaciones</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sobre-nosotros">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre Nosotros</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="preguntas-respuestas">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Preguntas y Respuestas</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="registro">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="login">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Entrar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-app>
