ion-tab-bar{
    --color-selected: #000 !important;
    
  }
  ion-tab-button.tab-selected {
    --background: #E3FFBD !important;
  
  }

 ion-tabs{
    --ion-background-color: #D2F5B4;
 }
 .bottom-sheet-popover{
  top: 60px !important;
 }