<ion-content>
      <ion-card>
        <ion-list>
        <ion-item>
          <ion-input>
            <ion-label>Nombre</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Apellido</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Fecha de nacimiento</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Email</ion-label>
          </ion-input>
        </ion-item>
         <ion-item>
          <ion-input>
            <ion-label>Contraseña</ion-label>
          </ion-input>
        </ion-item>
        <ion-grid>
          <ion-row >
            <ion-col>
              <div style="text-align: center;">
                <ion-button (click)="dismiss()">
                  <ion-icon slot ="end" name="close-circle-outline"></ion-icon>
                  Cancelar
                </ion-button>
            </div>
            </ion-col>
            <ion-col>
              <div style="text-align: center;">
                <ion-button (click)="realizarDonacion()">Registrarse</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      </ion-card>
</ion-content>




