<ion-content>
      <ion-card>
        <ion-item>
          <ion-input>
            <ion-label>Nombre</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Apellido</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Email</ion-label>
          </ion-input>
        </ion-item>
         <ion-item>
          <ion-input>
            <ion-label>Contraseña</ion-label>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input>
            <ion-label>Numero de Telefono</ion-label>
          </ion-input>
        </ion-item>
      </ion-card>
</ion-content>
<ion-button expand="full" slot="botton">Registrarse</ion-button>




