<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-list class = "aboutus">
  <ion-item lines ="none" class = "titulo">
    <ion-label><b>Para nuestros Donadores:</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>A nuestros donadores le podemos garantizar que
      nuestras asociaciones registradas son legales y de
      confianza
    </ion-label>
  </ion-item>
  <ion-item lines ="none" class = "titulo">
    <ion-label><b>¿Como se registran las organizaciones?</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Permitimosel registro de organizaciones sin fines de lucro,
      requiriendo los siguientes datos: nombre, ubicación de su sede,
      CUIT, redes sociales y otros medios de contacto.
    </ion-label>
  </ion-item>
</ion-list>
  
</ion-content>
